<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="shortcut icon" href="./svg/icon.svg" type="image/x-icon">

</head>
<body>
    <header>
        <p class="logoname" onclick="home()">YelloDash</p>
        <div class="header_buttons">
            <button class="login" onclick="saveCommit()">Коммит</button>
            <button class="login" onclick="UseCommit()">Восстановление</button>
            <select id="commitSelect" hidden>
                <option value="0"></option>
            </select>
            <button class="login" onclick="getAccess()">Доступ</button>
        </div>
    </header>

    <section id="main-sec" class="main main-auth form-home-flex form-home-flex-direc">
        <div class="card" id="Starting">
            <p>Начать</p>
            <button id="ButtonStarting" onclick="preCreate('Starting')">create</button>
        </div>
        <div class="card" id="InProgress">
            <p>В работе</p>
            <button  id="ButtonInProgress" onclick="preCreate('InProgress')">create</button>
        </div>
        <div class="card" id="Ready">
            <p>Готовы</p>
            <button  id="ButtonReady" onclick="preCreate('Ready')">create</button>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 YellowDash. Все права защищены.</p>
    </footer>
    <script src="/JS/CardWork.js" ></script>
    <script src="/JS/Access.js" ></script>
    <script src="/JS/Commit.js" ></script>
    <script src="/JS/Animations.js"></script>
</body>
</html>
